<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FOODHUB">
        <activity
            android:name=".ui.SearchFood"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Filter_screen"
            android:exported="false" />
        <activity
            android:name=".ui.RestaurantProfile"
            android:exported="false" />
        <activity
            android:name=".ui.Profile"
            android:exported="false" />
        <activity
            android:name=".ui.FoodDetails"
            android:exported="false" />
        <activity
            android:name=".ui.RessetPassword"
            android:exported="false" />
        <activity
            android:name=".ui.VerificationCode"
            android:exported="false" />
        <activity
            android:name=".ui.Splash"
            android:exported="true" />
        <activity
            android:name=".ui.OrderDetails"
            android:exported="true" />
        <activity
            android:name=".ui.Delivery_Address"
            android:exported="true" />
        <activity
            android:name=".ui.MyOrdersHistory"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZTJpSbPKLHSxIE6V96XxZqhcpSn-zzFM" />

        <activity
            android:name=".ui.Home_Screen"
            android:exported="true"/>
        <activity
            android:name=".GlobalMethod"
            android:exported="true" />
        <activity
            android:name=".ui.NewAddress"
            android:exported="true" />
        <activity
            android:name=".ui.Login"
            android:exported="true" />
        <activity
            android:name=".ui.Sign_Up"
            android:exported="true" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.OnBoarding"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />
    </application>

</manifest>